<h1>ルーム登録一覧</h1>

<table class="table">
    <thead>
        <th>
            ルーム画像
        </th>
        <th>
            ルーム名
        </th>
        <th>
            ルーム紹介
        </th>
        <th>
            料金
        </th>
        <th>
            作成日
        </th>
    </thead>
    <tbody>
        <% @rooms.each do |room| %>
            <tr>
                <td class="align-middle"><img src="<%= room.room_image %>" class="table-image"></td>
                <td class="align-middle"><%= link_to room.name, "/rooms/#{room.id}" %></td>
                <td class="align-middle"><%= room.introduction %></td>
                <td class="align-middle"><%= room.cost %></td>
                <td class="align-middle"><%= room.created_at.strftime("%Y-%m-%d %H:%M") %></td>
            </tr>
        <% end %>
    </tbody>
</table>