<div class="room-show-box">
    <div class="room-detail padding15">
        <div><img src="<%= @room.room_image %>" alt="" class="room-show-image"></div>
        
    </div>
    <div class="padding15 form-box">

        <%= form_with url: "reservations/#{@room.id}/new", method: :get, local: true do |f| %>

            

            <div>
                <%= f.label :チェックイン　 %>
                <%= f.date_field :start, class: "form-control" %>
            </div>

            <div>
                <%= f.label :チェックアウト %>
                <%= f.date_field :finish, class: "form-control"%>
            </div>

            <div>
                <%= f.label :人数　　　　　 %>
                <%= f.number_field :person, class: "form-control" %>
            </div>

            <div>
                <% if current_user %>
                    <%= f.hidden_field :user_id, value: current_user.id %>
                <% end %>
            </div>

            <div>
                <%= f.hidden_field :room_id, value: @room.id %>
            </div>

            <div>
                <%= f.label :１日あたり１人の料金 %>
                <%= f.hidden_field :cost, value: @room.cost %>
                <%= @room.cost %>
            </div>
            
            <% if current_user %>
                <%= f.submit :予約する, class: "btn btn-primary" %>
            <% else %>
                <%= link_to "ログインする", "/users/sign_in", class: "btn btn-primary" %>
            <% end %>
        <% end %>


        
    </div>

    
</div>
<div class="room-name-address">
    <div><img src="<%= @room.user.user_image %>" alt="" class="avator rounded-circle"></div>
        <div>
            <%= @room.name %><br>
            <%= @room.address %>
        </div>
    </div>
    <div class="room-introduction">
        <%= @room.introduction %>
    </div>
</div>